---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <div class="max-w-screen-xl mx-auto">
    <section class="w-full flex flex-col items-center lg:flex-row pt-10">
      <div class="w-full lg:w-1/2 flex flex-col">
        <div class="flex flex-col">
          <h4 class="text-lg font-bold">WELCOME TO MY PAGE</h4>
        </div>
      </div>
    </section>
  </div>
</Layout>
